/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    display: flex;
    margin: 0 200px;
}

/* HEADER */

/* header background */
header{
    height: 80px;
    background-color: rgba(173, 216, 230, 1);
}

/* header content */
/* general properties for header items */

/* logo */
.logo{
    width: 20%;
    height: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0;
    padding: 10px;
    border: 2px dashed black;
    background-color: rgba(218, 165, 32, 1);
}

/* link */
.link{
    width: 60%;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0;
    padding: 10px;
    border: 2px dashed black;
    background-color: rgba(218, 165, 32, 1);
}

/* login */
.login{
    width: 20%;
    height: 40px;
    text-align: end;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0;
    padding: 10px;
    border: 2px dashed black;
    background-color: rgba(218, 165, 32, 1);
}

/* main */

/* Backgroung section 1 */
.bg-section1{
    height: 520px;
    background-color: rgba(0, 0, 139, 1);
}

/* Box in section 1 */
.box-section1{
    width: 100%;
    margin: 30px 100px;
    height: 460px;
    background-color: rgba(238, 130, 238, 1);
    border: 2px dashed black;
}

/* Backgroung section 2 */
.bg-section2{
    height: 600px;
}

/* blue part of the box */
.blue-box{
    width: 60%;
    background-color: rgba(30, 144, 255, 1);
    height: 540px;
    margin: 30px 0;
    border: 2px dashed black;
}

/* pink part of the box */
.pink-box{
    width: 40%;
    background-color: rgba(255, 192, 203, 1);
    height: 540px;
    margin: 30px 0;
    border: 2px dashed black;
}

/* Backgroung section 3 */
.bg-section3{
    height: 600px;
    background-color: rgba(211, 211, 211, 1);
}

/* Backgroung section 4 */
.bg-section4{
    height: 600px;
}

/* Backgroung section 5 */
.bg-section5{
    height: 1000px;
    background-color: rgba(211, 211, 211, 1);
}

/* Box in section 5 */
.box-section5{
    width: 100%;
    margin: 30px 0px;
    height: 940px;
    background-color: rgba(34, 139, 34, 1);
    border: 2px dashed black;
}

/* Backgroung section 6 */
.bg-section6{
    height: 620px;
    background-color: rgba(35, 39, 42, 1);
}

/* light coral part of the box */
.light-coral-box{
    width: 60%;
    background-color: rgba(240, 128, 128, 1);
    height: 580px;
    margin: 10px 0;
    border: 2px dashed black;
}

/* light sea green part of the box */
.light-sea-green-box{
    width: 40%;
    background-color: rgba(32, 178, 170, 1);
    height: 580px;
    margin: 10px 0;
    border: 2px dashed white;
}

/* footer */
footer{
    margin-top: 2px;
    height: 120px;
    background-color: rgba(35, 39, 42, 1);
}